.table th {
    font-weight: 500;
    /* color: #827fc0; */
    background-color: rgba(89, 102, 91, 0.281);
    color: rgb(230, 230, 230);
  }
  /* .table thead {
    background-color: #f3f2f7;
  } */
  
  .table > tbody > tr > td,
  .table > tfoot > tr > td,
  .table > thead > tr > td {
    padding: 14px 12px;
    vertical-align: middle;
  }

  /* TABLA */
  .table tr td {
    /* color: #8887a9; */
    color: rgb(219, 213, 213);
    font-size: 22px;
    background-color: rgba(89, 102, 91, 0.281);
  }
  .thumb-sm {
    height: 32px;
    width: 32px;
  }
  .badge-soft-warning {
    background-color: rgba(248, 201, 85, 0.2);
    color: #f8c955;
  }
  
  .badge {
    font-weight: 500;
  }
  .badge-soft-primary {
    background-color: rgba(93, 175, 111, 0.2);
    /* color: #605daf; */
    color: rgb(30, 223, 30);
  }
  