body{
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Source Sans Pro', sans-serif;
}
 
.jumbo{
    z-index: 100;
}

.containerForm {
    z-index: 100;
  }