body {
  /* background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e; */
  background-image: url("./assets/wallpaperflare.com_wallpaper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
  margin: 0; 
  height: 100%; 
}
.jumbo{
    z-index: 10;
    color: #FFF;
}

.footer{
  z-index: 100;
}







